<mat-toolbar color="primary">
  <span> Fernando Diaz Martinez | Metodo Cramer</span>
</mat-toolbar>

<br>

<div class="row">
  <div class="column">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title> Resolver Ejercicio </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre>0.3 x1 + 0.52 x2 +      x3 = - 0.01 </pre>
        <pre>0.5 x1 +      x2 + 1.93 x3 =   0.67 </pre>
        <pre>0.1 x1 + 0.3  x2 + 0.5  x3 = - 0.44 </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="column">
    <mat-card class="ejemplo-card">
      <mat-card-header>
        <mat-card-title> Organizamos el Ejercicio </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre>0.3 x1 + 0.52 y1 +      z1 = - 0.01 </pre>
        <pre>0.5 x2 +      y2 + 1.93 z2 =   0.67 </pre>
        <pre>0.1 x3 + 0.3  y3 + 0.5  z3 = - 0.44 </pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>

<button mat-raised-button color="primary" (click)="valor1 = true">Calcular</button>

<br>

<div *ngIf="valor1">

  <h2 class="centro">{{Descripcion}}</h2>
  <h3>{{Paso1}}</h3>

  <hr>

  <h4>Formula Determinante</h4>
  <p>x1*y2*z3 + x2*y3*z1 + x3*y1*z2 - z1*y2*x3 - z2*y3*x1 - z3*y1*x2</p>
  <p>
    D = 0.3*1*0.5 + 0.5*0.3*1 + 0.1*0.52*1.93 - 1*1*0.1 - 1.93*0.3*0.3 - 0.5*0.52*0.5
  </p>
  <p>Determinante es = {{d}}</p>

  <br>

  <h3>{{Paso2}}</h3>

  <hr>

  <h4>Formula X</h4>
  <p>X = (b1*y2*z3 + b2*y3*z1 + b3*y1*z2 - z1*y2*b3 - z2*y3*b1 - z3*y1*b2)/D</p>
  <p>
    X = (-0.01*1*0.5 + 0.67*0.3*1 + -0.44*0.52*1.93 - 1*1*-0.44 - 1.93*0.3*-0.01 - 0.5*0.52*0.67)D
  </p>
  <p>X = {{x}}</p>


  <hr>
  <h4>Formula Y</h4>
  <p>Y = (x1*b2*z3 + x2*b3*z1 + x3*b1*z2 - z1*b2*x3 - z2*b3*x1 - z3*b1*x2)/D</p>
  <p>
    Y = (0.3*0.67*0.5 + 0.5*-0.44*1 + 0.1*-0.01*1.93 - 1*0.67*0.1 - 1.93*-0.44*0.3 - 0.5*-0.01*0.5)/D
  </p>
  <p>Y = {{y}}</p>


  <hr>
  <h4>Formula Z</h4>
  <p>Z = (x1*y2*b3 + x2*y3*b1 + x3*y1*b2 - b1*y2*x3 - b2*y3*x1 - b3*y1*x2)/D
    <p>
      <p>
        Z = (0.3*1*-0.44 + 0.5*0.3*-0.01 + 0.1*0.52*0.67 - -0.01*1*0.1 - 0.67*0.3*0.3 - -0.44*0.52*0.5)/D
      </p>
      <p>Z = {{z}}</p>

</div>
